# OSX
.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
dist/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# IDEs
.vscode/
.idea/

#TeamCity docker mounts
log_dir/
data_dir/

#Terraform
.terraform/
*.tfstate
*.tfstate.backup

#Local Testing environment
.test.env
