export TF_VAR_teamcity_url="http://localhost:8112"
export TF_VAR_teamcity_username="admin"
export TF_VAR_teamcity_password="admin"
export TF_VAR_github_username="john.doe"
export TF_VAR_github_password="abcd1234"
